# Environment variables
OPENAI_API_KEY=sk-your-qwen-api-key-here
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL_NAME=qwen-plus
EMBEDDING_MODEL_PATH=BAAI/bge-large-zh-v1.5
